<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gty.dao.RolesMapper">
    <select id="getRole" resultType="com.gty.domain.Roles" parameterType="string">
        select * from t_roles where name = #{username}
    </select>

    <select id="getPassword" resultType="java.lang.String" parameterType="string">
        select password from t_roles where name = #{username}
    </select>

</mapper>