<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gty.mapper.UserTwoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gty.domain.UserTwo">
        <id column="id" property="id" />
        <result column="address" property="address" />
        <result column="wechar" property="wechar" />
    </resultMap>
    <select id="getAllTwo" resultType="com.gty.domain.UserTwo">
        select * from t_user_two
    </select>

</mapper>
